.search-box{
    background-color: purple;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .input-box{
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    width: 40%;
    height: 4rem;
    border:none;
    border-radius: 30px;
    padding: 3rem;
    transition: all .2s;
  
    &:focus{
      outline: none;
      width: 55%;
    }
  }